/* From Universe.io by Yaya12085 */
.card {
    padding: 10px;
    max-width: 260px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    border-radius: 8px; /* Rounded corners */
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }
  
  .content {
    margin-top: 1rem;
  }
  
  .content .header {
    margin-top: 0.5rem;
  }
  
  .image {
    width: 100%;
    height: 200px;
    background-color: rgb(205, 235, 255);
    padding: 9px;
  }
  
  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images fit within the div */
    border-radius: 4px;
  }
  
  .tag-container {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .tag {
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.425);
    padding: 2px 8px;
    border-radius: 4px;
    color: #fff;
  }
  
  .date {
    display: flex;
    font-size: 0.75rem;
    line-height: 1rem;
    align-items: center;
    margin: 2px;
  }
  
  .title {
    display: block;
    font-size: 1.25rem;
    line-height: 1.35rem;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 14px;
  }
  
  .description {
    line-height: 1.375;
  }
  