
.card {
  border: none;
}

footer {
  background-color: #343a40;
  color: white;
}

#gallery .card, #facilities .card {
  margin: 20px 0;
}

#summerCamp .card {
  margin: 20px 0;
}

body , html, #root{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}

h2, h3 {
  font-family: 'Bebas Neue', sans-serif; /* Bold, athletic font */
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
}


